padding:0;
}
input,select {
	vertical-align:middle;
}
/*...........................Main code   INDEX.....................*/

.wrapper
{
	height:760px;
	width:1510px;
	/*background-color: red;*/
}
header
{
	height: 140px;
	width: 1510px;
	background-color: black;
}
section
{
    height: 650px;
	width: 1510px;
	background-color: grey;
	
}
footer
{

    height: 90pxpx;
	width: 1510px;
	background-color: black;
}
.logo
{
	 float: left;
     padding-left:20px;
}
.logo img
{
	padding-left: 80px;
}
li a
{
	font-size: 20px;
    color: red;
    text-decoration: none;	

}
nav
{
	float: right;
	word-spacing: 5px;
}
nav li
{
    display: inline-block;
    line-height: 80px;
    padding: 20px;
}
section .sec_img
{
	height: 750px;
	margin-top: 0px;
	background-image: url("images/1.jpg");


}
.box
{
	height: 60px;
	width: 500px;
	background-color: red;
	margin: 20px auto;
	font-size: 20px;
	opacity: .6;
	color: white;
}

/*....................................................studentlogin..........................*/

.log_img
{
	background-repeat: no-repeat;
	height: 750px;
	margin-top: 0px;
	background-image:url("images/19.jpg");
	width: 2500;
	
}

.box1{
	height: 500px;
	width: 450px;
	background-color: palevioletred;
	margin: 70px auto;
	opocity: .7;
	color: white;
	padding: 20px;
	text-align: center;
}
form .login{
	margin:  auto 70px;
}
input
{
	height: 25px;
	width: 300px;
}
button{
	height: 30px;
	width: 100px;
	font-size: 15px;
}
/*.....................................................registration...........................*/
.reg_img{
	height: 850px;
	margin-top: 0px;
	background-image:url("images/4.jpg");
}
.box2{
	height: 700px;
	width: 550px;
	background-color: palevioletred;
	margin: 0px auto;
	opocity: .7;
	color: white;
	padding: 20px;
	text-align: center;
}
form .Registration{
	margin: auto 50px;
}










